<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', {title: 'About' }) %>
</head>

<body>
  <%- include('includes/header') %>
    <h1>500 Something went wrong. We are doing our best to fix it as soon as possible.</h1>
</body>

</html>