<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/global.css">
  <title>Tutorial Sharing</title>
</head>

<body>
  <h1>I am the root page with links to the <a href="/about">about</a> page</h1>
  <!--! NOTE--1.0: Because we are using a custom back end server, here we need to use absolute paths. The below translates to www.customdomain.com/tutorials || localhost:3000/tutorials -->
  <a href="/tutorials">Tutorials</a>
  <a href="/recommend">Recommended</a>


</body>

</html>