<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', {title: 'Home Page' }) %>
</head>

<body>
  <%- include('includes/header') %>
    <h1>I am the root page with links to the <a href="/about">about</a> page</h1>
    <!--! NOTE--1.0: Because we are using a custom back end server, here we need to use absolute paths. The below translates to www.customdomain.com/tutorials || localhost:3000/tutorials -->
</body>

</html>