<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', {title: 'Recommend' }) %>
</head>

<body>
  <%- include('includes/header') %>
    <form class="submit-form" action="/recommend" method="POST">
      <label for="coursename">Course name</label>
      <input type="text" id="coursename" name="coursename">
      <label for="courseurl">Course url</label>
      <input type="text" id="courseurl" name="courseurl">
      <label for="email">Used email</label>
      <input type="email" name="email" id="email">
      <label for="email">User name</label>
      <input type="text" name="username" id="username">
      <label for="date">Start date</label>
      <input type="date" name="date" id="date">
      <button>Submit</button>
    </form>
    <a href="/">Home</a>
    <a href="/about">About</a>
</body>

</html>